{% extends "servermanager/templates/base.html" %}
{% load url from future %}

{% block content %}
<h1>Google Apps Configuration</h1>

<ul>
{% for active in licensed_apps %}
   <li><label>{{active.key|upper}}:</label> {{active.status}}</li>
{% endfor %}
</ul>

<br />

<p>
<a href="{% url 'generator:manifest' %}">Download manifest file</a>
</p>

<form action="{% url 'generator:home' %}" method="POST">
{% csrf_token %}
<table>
{{ auth_form.as_table }}
</table>
<input type="submit" name="submit_auth" />
</form>

{% endblock %}

